@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer {
  @keyframes move-left {
    0% {
      opacity: 0.1;
      transform: translateX(-10rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-scrolling-l {
    transition: ease-in-out;
    animation: move-left ease-out 2s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
  }

  @keyframes move-right {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-scrolling-r {
    transition: ease-in-out;
    animation-delay: .5s;
    animation: move-right 3s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
  }
}
